In [28]:
import os
from tqdm import tqdm_notebook as tqdm
import pandas as pd

In [29]:
DATA_DIR = 'data'
IMG_SIZE = 512

In [76]:
train_csv = pd.read_csv(os.path.join(DATA_DIR, 'train.csv'))
meta_csv = pd.read_csv(os.path.join(DATA_DIR, 'train_meta_512x512.csv'))

In [77]:
print(train_csv.shape)
train_csv.head()

(67914, 8)

,image_id,class_name,class_id,rad_id,x_min,y_min,x_max,y_max
0,50a418190bc3fb1ef1633bf9678929b3,No finding,14,R11,NaN,NaN,NaN,NaN
1,21a10246a5ec7af151081d0cd6d65dc9,No finding,14,R7,NaN,NaN,NaN,NaN
2,9a5094b2563a1ef3ff50dc5c7ff71345,Cardiomegaly,3,R10,691.0,1375.0,1653.0,1831.0
3,051132a778e61a86eb147c7c6f564dfe,Aortic enlargement,0,R10,1264.0,743.0,1611.0,1019.0
4,063319de25ce7edb9b1c6b8881290140,No finding,14,R10,NaN,NaN,NaN,NaN

In [78]:
print(meta_csv.shape)
meta_csv.head()

(15000, 3)

                           image_id  dim0  dim1
0  4d390e07733ba06e5ff07412f09c0a92  3000  3000
1  289f69f6462af4933308c275d07060f0  3072  3072
2  68335ee73e67706aa59b8b55b54b11a4  2836  2336
3  7ecd6f67f649f26c05805c8359f9e528  2952  2744
4  2229148faa205e881cf0d932755c9e40  2880  2304

In [79]:
#Rescale bbox attribute to scaled image size
for i, rows in tqdm(train_csv.iterrows(), total=train_csv.shape[0], position=0, leave=True):
    scaled_image_id = rows['image_id']
    orig_img_id = meta_csv[meta_csv['image_id'] == scaled_image_id]
    actual_h, actual_w = orig_img_id['dim0'], orig_img_id['dim1']
    h_ratio = IMG_SIZE/actual_h
    w_ratio = IMG_SIZE/actual_w
    
    train_csv.at[i,'x_min'] = round(rows.x_min*w_ratio,1)
    train_csv.at[i,'y_min'] = round(rows.y_min*h_ratio,1)
    train_csv.at[i,'x_max'] = round(rows.x_max*w_ratio,1)
    train_csv.at[i,'y_max'] = round(rows.y_max*h_ratio,1)

HBox(children=(IntProgress(value=0, max=67914), HTML(value='')))

In [81]:
train_csv.head()

,image_id,class_name,class_id,rad_id,x_min,y_min,x_max,y_max
0,50a418190bc3fb1ef1633bf9678929b3,No finding,14,R11,NaN,NaN,NaN,NaN
1,21a10246a5ec7af151081d0cd6d65dc9,No finding,14,R7,NaN,NaN,NaN,NaN
2,9a5094b2563a1ef3ff50dc5c7ff71345,Cardiomegaly,3,R10,170.1,301.4,406.9,401.3
3,051132a778e61a86eb147c7c6f564dfe,Aortic enlargement,0,R10,280.9,132.1,358.0,181.2
4,063319de25ce7edb9b1c6b8881290140,No finding,14,R10,NaN,NaN,NaN,NaN

In [84]:
train_csv.to_csv(os.path.join(DATA_DIR, 'final_train.csv'), index=False)